<div class="snippets-list">
  <h1 class="mb-10">Snippets</h1>
  <div class="grid mb-10">
    <div *ngFor="let doc of snippets.snippets" class="grid-item">
      <div class="meta">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="12px"
          viewBox="0 -960 960 960"
          width="12px"
        >
          <path
            d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
          />
        </svg>
        <span class="doc-id flex">#{{ doc.document_id }}</span>
      </div>
      <div class="inner-content rendered" [innerHTML]="doc.html"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#000"
        class="arrow-icon"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
      <a
        [routerLink]="['/document', doc.document_id]"
        routerLinkActive="active"
      >
      </a>
    </div>
  </div>
</div>
